::selection {
  background-color: #ffcc00; /* Цвет фона при выделении */
  color: #ffffff; /* Цвет текста при выделении */
}

p {
  margin: 200px;
  white-space: pre-wrap; /* Сохраняет переносы строк и пробелы, как в коде */
}
